:host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    align-items: center;
    background-image: linear-gradient(#4AADE5,#FFFFFF);
  }
.flex {
    display: flex;
    flex-direction: column;
}
.flexTwo {
    display: flex;
    flex-direction: row;
}
button{
    border: 2px solid powderblue;
    padding: 1px; 
}


