<app-header></app-header>
<div class="flex">      
    
         <img src="assets/logo.png">
         <h4 >Building Product Selection Platform</h4>
         <div class="flewTwo">

            <select>
                <option value="1">Mechanical</option>
                <option value="2"></option>
                <option value="3"></option>
            </select> 
            <input type="text" [(ngModel)]="searching"placeholder="searching..."/>
            <button  (click)="search()">
               Search
            </button>
         </div>
      
 </div>

